<tr>
  <td class="text-nowrap"><small><%= transaction.date %></small></td>
  <td>
    <div><small><%= transaction.name %></small></div>
    <div>
      <% if transaction.account.present? %>
        <%= render partial: 'accounts/type', locals: { account: transaction.account, label: transaction.account.name } %>
      <% end %>
      <small>
        &middot;
        ID: <%= transaction.id %>&nbsp;&middot;
        Occurrences: <%= transaction.occurrences %>
      </small>
    </div>
  </td>
  <td class="text-right"><small><%= number_to_currency transaction.amount %></small></td>
  <td>
    <%= render partial: 'form', locals: { transaction: transaction } %>
  </td>
</tr>
