<%= link_to 'Create Plaid Item', new_plaid_item_path %>

<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<%= form_tag import_transactions_path, method: :post do %>
  <input type="date" name="start_date" />
  <input type="date" name="end_date" />
  <input type="submit">
<% end %>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Name</th>
      <th>Plaid transaction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.account.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.name %></td>
        <td><%= transaction.plaid_transaction_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
