<div class="row">
  <div class="col-md-3">
    <%= form_tag transactions_path, method: :get, class: 'mt-sm-3' do %>
      <div class="form-group">
        <small class="text-muted"><%= label_tag 'filters[scope]', 'Scope' %></small>
        <%= select_tag 'filters[scope]', options_for_select(['unallocated', 'unsettled'], params[:filters] && params[:filters][:scope]), include_blank: 'all', class: 'form-control' %>
      </div>

      <div class="form-group">
        <small class="text-muted"><%= label_tag 'filters[account_id]', 'Account' %></small>
        <%= collection_select(:filters, :account_id, Account.all, :id, :name, { include_blank: 'all', selected: params[:filters] && params[:filters][:account_id] }, { class: 'form-control' }) %>
      </div>

      <div class="form-group">
        <small class="text-muted"><%= label_tag 'filters[account_type]', 'Account type' %></small>
        <%= select_tag 'filters[account_type]', options_for_select(@types, params[:filters] && params[:filters][:account_type]), include_blank: 'all', class: 'form-control' %>
      </div>

      <div class="form-group">
        <small class="text-muted"><%= label_tag 'filters[allocation]', 'Allocation' %></small>
        <%= select_tag 'filters[allocation]', options_for_select(Account::ALLOCATIONS, params[:filters] && params[:filters][:allocation]), include_blank: 'all', class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <small class="text-muted"><%= label_tag 'filters[start_date]', 'Start date' %></small>
            <input type="date" name="filters[start_date]" class="form-control" value="<%= params[:filters] && params[:filters][:start_date] -%>" />
          </div>
          <div class="col-lg-6">
            <small class="text-muted"><%= label_tag 'filters[end_date]', 'End date' %></small>
            <input type="date" name="filters[end_date]" class="form-control" value="<%= params[:filters] && params[:filters][:end_date] -%>" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input name="filters[include_payments_and_transfers]" type="checkbox" class="custom-control-input" id="include-payments-and-transfers-checkbox" <%= params[:filters] && params[:filters][:include_payments_and_transfers] && 'checked' -%>>
          <label class="custom-control-label" for="include-payments-and-transfers-checkbox">
            Include payments and transfers
          </label>
        </div>
      </div>

      <input type="submit" value="Filter" class="btn btn-primary">
      <%= link_to 'Download CSV', transactions_path(format: 'csv', filters: params[:filters].try(:to_unsafe_hash)), class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
  
  <div class="col-md-9">
    <div class="mt-2">
      <small class="mr-2"><strong>Total</strong>: <%= number_with_delimiter @transactions.count %></small>
      <small><strong>Sum</strong>: <%= number_to_currency @transactions.sum(:amount) %></small>
    </div>
    <div class="mt-2">
      <%= column_chart sum_amounts_by_first_of_month(@transactions) %>
    </div>
    <table class="table table-sm table-borderless table-striped">
      <thead>
        <tr>
          <th><small class="text-muted text-nowrap">Date</small></th>
          <th><small class="text-muted text-nowrap">Description</small></th>
          <th class="text-right"><small class="text-muted text-nowrap">Amount</small></th>
          <th><small class="text-muted text-nowrap">Allocation</small></th>
        </tr>
      </thead>

      <tbody>
        <%= render @transactions %>
      </tbody>
    </table>
  </div>
</div>

<div style="position: fixed; bottom: 10px; left: 10px;">
  <div id="transaction-updated-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
    <div class="toast-header">
      <strong class="mr-auto">MyFi</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Transaction updated!
    </div>
  </div>
</div>
