<% @accounts.group_by(&:plaid_item).each do |plaid_item, accounts| %>
  <div class="my-sm-4">
    <h5><%= plaid_item.institution_name %></h5>

    <table class="table table-borderless table-striped ml-sm-3">
      <thead>
        <tr>
          <th>Name</th>
          <th>Default allocation</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% accounts.each do |account| %>
          <tr>
            <td>
              <div>
                <%= account.name %> (<%= account.mask -%>)
                <%= render partial: 'type', locals: { account: account, label: account.type } %>
              </div>
              <div><small><%= account.official_name -%></small>
            </td>
            <td><%= account.default_allocation %></td>
            <td>
              <%= link_to 'Transactions', transactions_path(filters: { account_id: account.id }) %>
              &middot;
              <%= link_to 'Edit', edit_account_path(account) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
